html {
    font-family: "Terminus";
    color: #f8f8f2;
    background-color: #282a36;
}

a:link {
	text-decoration: none;
	color: #f8f8f2;
}

a:hover {
	text-decoration: none;
	color: #ff6e67;
}

a:visited {
	text-decoration: none;
	color: #ff6e67;
}
